h3.staff-header { font-size: 100%; }
.staff-content {
  padding-left: 1em;
}
.col-one {
  width: 50%;
  float: left;
  padding: 0 1.5em;
}
.col-two {
  width: 50%;
  float: right;
  border-left: 1px solid $color-four;
  padding: 0 1.5em;
}
.job-title {
  font-style: italic;
  color: $color-three;
  display: block;
  @include breakpoint($tablet, $no-query: '.no-mq') { display: inline-block; }
}
