---
layout: front
title: "Front Range TRAILS"
---
<div class="content-wrapper front">
  <main role="main">
    <div class="clearfix front-block" id="block-views-trails-block-2">
      <div class="featured-trail-left">
        <h2>Featured Trail</h2>
        <div class="view-display-id-block_2 jquery-once-1-processed">
          {% for trail in site.trails %}
            {% if trail.featured %}
              <div class="view-trails">
                <div class="trail-left">
                  <h4 class="trail-name"><a href="{{ trail.permalink }}">{{ trail.title }}</a></h4>
                  <a href="{{ trail.permalink }}"><img class="trail-image" src="{{ trail.images.first.image_path }}" alt="{{ item.title }}" /></a>
                </div>
                <div class="trail-right">
                  <div class="trail-location">
                    <span class="location-icon"></span>
                    <span class="location">{{ trail.location }}</span>
                    <div class="field field-name-field-star-rating field-type-fivestar field-label-hidden">
                      <div class="field-items fivestar-default">
                        <div class="form-item form-type-item">
                          <div class="fivestar-widget-static fivestar-widget-static-vote fivestar-widget-static-5 clearfix">
                            <div class="star star-1 star-odd star-first">
                              <span class="on"></span>
                            </div>
                            <div class="star star-2 star-even">
                              <span class="on"></span>
                            </div>
                            <div class="star star-3 star-odd">
                              <span class="on"></span>
                            </div>
                            <div class="star star-4 star-even">
                              <span class="on"></span>
                            </div>
                            <div class="star star-5 star-odd star-last">
                              <span class="off"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="trail-desc">{{ trail.content | truncate: 200 }}</div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="recent-trail-right" id="block-views-trails-block-3">
      <h5>Recently Added Trails</h5>
      {% for trail in site.trails limit:4 %}
          <h4 class="trail-name"><a href="{{ trail.permalink }}">{{ trail.title }}</a></h4>
      {% endfor %}
      <div><a class="view-more" href="/trails/">View All Trails ></a></div>
    </div>
  </main>
</div>