<footer>
  <div class="wrap">
	  <div class="gallery-square" id="block-views-gallery-block-1">
	    {% for item in site.gallery limit:4 %}
	      <div class="grid-item">
	        <img class="gallery-item" src="{{ item.images.first.small_image_path }}" alt="{{ item.title }}">
	      </div>
	    {% endfor %}
	    <div class="view-footer">
        <a href="/gallery" title="Gallery">
          <img src="/assets/images/icons/camera.svg">
          <h6>View Gallery</h6>
        </a>    
      </div>
	  </div>
	  <div class="blog-square">
	    {% for item in site.blog limit:1 %}
	      <a href="{{ item.permalink }}">
	        <div class="blog-teaser">
	          <img class="blog-image" src="{{ item.image_path }}" alt="{{ item.title }}">
	          <div class="blog-date">{{ item.date }}</div>
	          <h4 class="blog-name">{{ item.title }}</h4>
	          <div class="blog-content">{{ item.description }}</div>
	        </div>
	      </a>
	    {% endfor %}
	  </div>
  	<div>Follow Us</div>
  	<div>
  		<img src="" alt="Facebook">
  		<img src="" alt="Twitter">
  		<img src="" alt="Google Plus">
  	</div>
  </div>
</footer>