<footer>
  <div class="wrap">
	  <div class="gallery-square" id="block-views-gallery-block-1">
	    {% for item in site.gallery limit:4 %}
	      <div class="grid-item">
	        <img class="gallery-item" src="{{ item.images.first.small_image_path }}" alt="{{ item.title }}">
	      </div>
	    {% endfor %}
	    <div class="view-footer">
        <a href="/gallery" title="Gallery">
          <img src="/assets/images/icons/camera.svg">
          <h6>View Gallery</h6>
        </a>    
      </div>
	  </div>

  	<div class="social-footer">
      <h3>Follow Us</h3>
    		<a href="facebook.com"><img src="/assets/images/icons/facebook.svg" alt="Facebook"></a>
    		<a href="twitter.com"><img src="/assets/images/icons/twitter.svg" alt="Twitter"></a>
    		<a href="google.com"><img src="/assets/images/icons/google.svg" alt="Google Plus"></a>
    </div>

  </div>
</footer>