{% if page.url == "/index.html" %}
<header class="site-header" role="banner">
{% elsif page.url == "about"  %}
<header class="site-header no-preface" role="banner">
{% else %}
<header class="site-header no-preface" role="banner">
{% endif %}
  <div class="wrap">
    <picture class="logo">
      <a href="/" title="Home">
        <source type="image/svg+xml" srcset="/assets/images/logos/logo.svg">
        <img src="/assets/images/logos/logo.png" alt="Put the site name here">
      </a>
    </picture>
    <nav class="main-nav" role="navigation">
      <button class="menu-btn">Menu</button>
      {% include nav.html nav=site.data.menu %}
    </nav>
  </div>
</header>