<div class="soc">
	<a href="{{ site.facebook }}" title="Front Range Fire Rescue on Facebook">
		<picture>
			<source type="image/svg+xml" srcset="/assets/images/social/fb.svg">
			<img class="soc-logo facebook" src="/assets/images/social/fb.png" alt="Facebook">
		</picture>
		<h6 class="soc-text">Follow us on Facebook</h6>
	</a>
</div>
<div class="soc">
	<a href="{{ site.twitter }}" title="Front Range Fire Rescue on Twitter">
		<picture>
			<source type="image/svg+xml" srcset="/assets/images/social/twitter.svg">
			<img class="soc-logo twitter" src="/assets/images/social/twitter.png" alt="Twitter">
		</picture>
		<h6 class="soc-text">Follow us on Twitter</h6>
	</a>
</div>
