.logo-section {
    @include breakpoint($tablet, $no-query: ".no-mq") {
        padding: 1.5em 0 0.5em;
    }
    img {
        width: 100px;
        height: auto;
        float: right;
        margin: 1em 1em;
        display: block;
        @include breakpoint($tablet, $no-query: ".no-mq") {
            height: 150px;
            width: auto;
            margin: 1em auto 0;
            float: none;
        }
    }
}
