footer {
  @include clearfix;
  background: $footer-bg url('../images/footer-bg.jpg') repeat;
  padding: 5em 0;
}

.social-footer {
  text-align: center;
  margin-top: 2em;
  h3 {
    color: #fff;
  }
}

.front .social-footer {
  margin-top: 5em;
}