---
layout: default
---

<div class="content-wrapper not-front">
  <main role="main">
    <header itemscope>
      <h1 itemprop="name">{{ page.title }}</h1>
      <h3 class="subtitle">{{ page.subtitle }}</h3>
      <p><b>From: </b><span class="date" itemprop="startDate">{{ page.start_date | date: "%B %-d, %Y - %r" }}</span></p>
      {% if page.end_date %}
      <p><b>To: </b><span itemprop="endDate">{{ page.end_date | date: "%B %-d, %Y - %r" }}</span></p>
      {% endif %}

      {% if page.address %}
      <p><b>Location: </b></p>
      <p class="location address" itemprop="location">{{ page.address }}</p>
      {% endif %}
      {% if page.city %}
        <p class="location city-state-zip" itemprop="location">{{ page.city }}, {{ page.state }} {{ page.zip }}</p>
      {% endif %}
    </header>

    <section>
      {{ content }}
    </section>
  </main>
  {% include sidebar.html %}
</div>
