---
layout: default
---
<section class="clearfix gallery-details">
    <div class="field-name-field-gallery-images">
      {% for item in page.images %}
        <div itemscope class="field-item">
          <a class="gallery" href="{{ item.large_image_path }}"><img class="gallery-item lrg" src="{{ item.small_image_path }}" alt="{{ item.title }}" itemprop="image"></a>
        </div>
      {% endfor %}
    </div>
    <h1>{{ page.title }}</h1>
    <h4>{{ page.location }}</h4>
    {{ content }}
</section>