---
layout: default
---

<div class="content-wrapper full-width">
  <main class="wrap">
      <header>
        <h1>{{ page.title }}</h1>
        <h3 class="subtitle">{{ page.subtitle }}</h3>
      </header>
      <section class="clearfix">
      	{{ content }}
        <ul class="grid">
          {% for item in page.images %}
            <li itemscope class="grid-item">
              <a class="gallery" href="{{ item.large_image_path }}"><img class="gallery-item lrg" src="{{ item.small_image_path }}" alt="{{ item.title }}" itemprop="image"></a>
            </li>
          {% endfor %}
        </ul>
	  </section>
  </main>
</div>
