---
layout: default
---
  <div class="section-one">
	  <div class="flexslider">
			<ul class="slides">
			  {% for item in page.images %}
			  		<li>
				  		<a class="gallery-group" href="{{ item.permalink }}">
							{% if item.image_path == page.images.first.image_path %}
								<img class="full-width-header-image gallery-item" src="{{ item.image_path }}" alt="{{ page.title }}">
							{% else %}
								<img class="icon-size-image gallery-item" src="{{ item.image_path }}" alt="{{ page.title }}">
							{% endif %}
						</a>
			  		</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="section-two">
		<h1>{{ page.title }}</h1>

    <div class="field field-name-field-star-rating field-type-fivestar field-label-hidden">
      <div class="field-items fivestar-default">
	    	{% if page.rating == 1 %}
					<div class="star star-1 star-first"><span class="on"></span></div>
	        <div class="star"> <span class="off"></span></div>
	        <div class="star"> <span class="off"></span></div>
	        <div class="star"> <span class="off"></span></div>
	        <div class="star"> <span class="off"></span></div>
	      {% endif %}
	      {% if page.rating == 2 %}
					<div class="star star-2"><span class="on"></span></div>
					<div class="star star-2"><span class="on"></span></div>
	        <div class="star"> <span class="off"></span></div>
	        <div class="star"> <span class="off"></span></div>
	        <div class="star"> <span class="off"></span></div>
	      {% endif %}
	      {% if page.rating == 3 %}
					<div class="star star-3"><span class="on"></span></div>
	        <div class="star star-3"><span class="on"></span></div>
					<div class="star star-3"><span class="on"></span></div>
	        <div class="star"> <span class="off"></span></div>
	        <div class="star"> <span class="off"></span></div>
	      {% endif %}
	       {% if page.rating == 4 %}
					<div class="star star-4"><span class="on"></span></div>
	        <div class="star star-4"><span class="on"></span></div>
	        <div class="star star-4"><span class="on"></span></div>
					<div class="star star-4"><span class="on"></span></div>
	        <div class="star"><span class="off"></span></div>
	      {% endif %}
	      {% if page.rating == 5 %}
					<div class="star star-5 star-last"><span class="on"></span></div>
	        <div class="star star-5 star-last"><span class="on"></span></div>
	        <div class="star star-5 star-last"><span class="on"></span></div>
	        <div class="star star-5 star-last"><span class="on"></span></div>
	        <div class="star star-5 star-last"><span class="on"></span></div>
	    	{% endif %}
      </div>
	  </div>


		<section class="trail-content">
			<div class="field field-name-field-region">
				<div class="field-label">Region:&nbsp;</div>
				<div class="field-items">
					<div class="field-item even">{{ page.location }}</div>
				</div>
			</div>

			<div class="field  field-name-field-distance-miles">
				<div class="field-label">Region:&nbsp;</div>
				<div class="field-items">
					<div class="field-item even">{{ page.distance }}</div>
				</div>
			</div>

			<div class="field field-name-field-difficulty">
				<div class="field-label">Region:&nbsp;</div>
				<div class="field-items">
					<div class="field-item even">{{ page.difficulty }}</div>
				</div>
			</div>



			<div class="elevation">
				<span class="label-above">Start Elevation</span>
				<span>{{ page.starting_elevation }}</span>
			</div>
			<div class="elevation">
				<span class="label-above">Elevation Gain</span>
				<span>{{ page.elevation_gain }}</span>
			</div>

			<div class="field-name-body">
				{{ content }}
			</div>

		</section>

	</div>

	<div class="section-three">
		<div class="trail-map" id="map-individual"></div>
		  <script type="text/javascript">
		    var map = L.map('map-individual').setView([{{ page.latitude }}, {{ page.longitude }}], 11);
		     L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
		        maxZoom: 18
		     }).addTo(map);
		    {% for item in site.trails %}
		        var marker = L.marker([{{ page.latitude }}, {{ page.longitude }}]);
		        map.addLayer(marker);
		    {% endfor %}
		  </script>
		<div class="amenities content-list">
			<h6 class="label-above block-title">AMENITIES</h6>
			<ul>
	  			{% for item in page.amenities %}
		  			{% if item.option %}
			  			<li>
			  				{{ item.title }}
			  			</li>
		  			{% endif %}
	  			{% endfor %}
	  		</ul>
		</div>

	</div>
