---
layout: default
---

<div class="content-wrapper full-width">
  <main class="wrap">
	<ul class="grid">
	  	{% for item in page.images %}
	  		<li>
		  		<a class="gallery-group" href="{{ item.permalink }}">
					{% if item.image_path == page.images.first.image_path %}
						<img class="full-width-header-image gallery-item" src="{{ item.image_path }}" alt="{{ page.title }}">
					{% else %}
						<img class="icon-size-image gallery-item" src="{{ item.image_path }}" alt="{{ page.title }}">
					{% endif %}
				</a>
	  		</li>
		{% endfor %}
	</ul>
	<h1>{{ page.title }}</h1>
    <ul class="rating">
      <li class="star"></li>
      <li class="star"></li>
      <li class="star"></li>
      <li class="star"></li>
      <li class="star"></li>
    </ul>
	<section class="trail-content">
		<div class="trail-info">
			<span class="location-icon"></span>
			<span>{{ page.location }}</span>
			<span class="distance-icon"></span>
			<span>{{ page.distance }}</span>
			<span class="difficulty-icon"></span>
			<span>{{ page.difficulty }}</span>
		</div>
		<div class="start-elevation">
			<span class="label">Start Elevation</span>
			<span>{{ page.start_elevation }}</span>
		</div>
		<div class="elevation-gain">
			<span class="label">Elevation Gain</span>
			<span>{{ page.elevation_gain }}</span>
		</div>
		{{ content }}
	</section>
	<section class="side-column">
		<div class="trail-map" id="map-individual"></div>
		  <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
		  <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
		  <script>
		      L.mapbox.accessToken = 'pk.eyJ1IjoidmFyaWFudHN0dWRpb3N0ZWFtIiwiYSI6IkJOeWd1dWMifQ.EpahpXGBtmn_3IROFYRS5w';
		      var map = L.mapbox.map('map-individual', 'mapbox.streets').setView([{{ page.latitude }}, {{ page.longitude }}], 12);
		      var marker = L.marker([{{ page.latitude }}, {{ page.longitude }}]).addTo(map);
		      map.scrollWheelZoom.disable();
		  </script>
		<div class="other-details">
			<h4>Other Details</h4>
			<div>
	  			{% for item in page.amenities %}
		  			{% if item.option %}
		  				{{ item.title }}
		  			{% endif %}
	  			{% endfor %}
	  		</div>
		</div>
		<div class="similar-trails">
			<h4>Similar Trails</h4>
			{% assign trails = site.trails | sort: 'distance' reverse | sort: 'difficulty' reverse %}
			{% assign similar = "" %}
			{% for trail_list in trails %}
	  			{% if trail_list.location == page.location %}
	  				{{ similar | push: trail_list.title }}
	  			{% endif %}
			{% endfor %}
			{% for trail in similar limit:3 %}
				<div><a href="{{ trail.permalink }}">{{ content }}</a></div>
			{% endfor %}
		</div>
	</section>
  </main>
</div>